#bottom-bar {
	width: 100%;
	height: var(--bottom-bar-height);
	background: #253442;
	box-shadow: 0px calc(-1 * var(--bar-main-big-shadow-height)) 5px var(--shadow-color);
	display: flex;
	flex-wrap: row;
	font-family: 'BebasNeueRegular';
}

#bottom-bar #contact {
	color: white;
	width: 60%;
	padding: 10px;
	text-align: center;
}

#bottom-bar #location {
	width: 40%;
	padding: 10px;
	border: 0;
}