#items-container {
	--item-bar-height: 35px;

	width: 80%;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	z-index: 0;
}

#items-container #item {
	border-radius: 16px;
	background: var(--secondary-color);
	margin: 30px;
	overflow: hidden;
	box-shadow: 0 0 10px var(--shadow-color);
	z-index: 0;
}

#items-container #item #top {
	background: var(--main-color);
	position: relative;
	height: var(--item-bar-height);
}

#items-container #item #top p {
	margin: 0;
	position: relative;
	padding-top: 10px;
	padding-left: 25px;
	font-family: 'BebasNeueRegular';
}

#items-container #item #content {
	/* uncomment to display item horizontally */
/* 	display: flex;
	justify-content: center;
	justify-items: center;
	justify-self: center; */

	position: relative;
	z-index: 0;
}

#items-container #item #content img {
	height: 200px;
	display: block;
	margin: 1px auto 1px auto;
}

#items-container #item #spec p {
	margin: 1px;
}

#items-container #item #spec  
{
	width: 100%;
}
  
#items-container #item #spec tr:nth-child(even) {background-color: #f2f2f2;}
#items-container #item #spec tr:nth-child(odd) {background-color: white;}

#items-container #item #bottom 
{
	position: relative;
	background: var(--main-color);
	height: var(--item-bar-height);
	z-index: 1;
}
