:root {
	--shadow-color: rgb(100, 100, 100);

	--main-color: #f7cc4a;
	--secondary-color: #A8A8A8;

	--bar-main-shadow-height: 4px;
	--bar-main-big-shadow-height: 8px;

	--top-bar-primary-height: 120px;
	--top-bar-secondary-height: 30px;
	--top-bar-height: calc(var(--top-bar-primary-height) + var(--top-bar-secondary-height));
	--bottom-bar-height: var(--top-bar-height);

	--bg-height: calc(100%);

	--bottom-bar-main-height: 80px;

	--bg-color: #e9e9e9;
}

body {
	position: absolute;
	width: 100%;
	height: 100%; 
	margin: 0;
}

#main
{
	display: flex;
	flex-direction:column;
    align-items: center;
	background-color: var(--bg-color);
	width: 100%;
	min-height: calc(100% + var(--bar-main-big-shadow-height));
}
