#menu-flat {
	--menu-margin-horizontal: 60px;

	--button-main-color: rgba(0, 0, 0, 0);
	--button-font-color: black;

	--button-hover-color: rgba(0, 0, 0, 6%);

	--button-margin-horizontal: 12px;

	position: relative;
	bottom: 0;
	user-select: none;
	margin-left: calc(var(--menu-margin-horizontal) / 2);
	margin-right: calc(var(--menu-margin-horizontal) / 2);
}


#menu-flat button {
	--button-hover: radial-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.02), rgba(0, 0, 0, 0));
	--button-active: radial-gradient(rgba(255, 255, 255, 1), rgba(255, 255, 255, 0.02), rgba(0, 0, 0, 0));

	color: var(--bar-button-font-color);
	background-color: var(--button-main-color);

	font-size: 12px;
	text-align: center;
	cursor: pointer;
	outline: none;
	border: 0;

    position: relative;
    bottom:-15px;
	border-radius: 100%;
	overflow: hidden;
    height: 40px;
	transform: translateY(-50%);

	margin-left: calc(var(--button-margin-horizontal) / 2);
	margin-right: calc(var(--button-margin-horizontal) / 2);
}

#menu-flat button:hover {
	background-image: var(--button-hover)
}

#menu-flat button:active {
	background-image: var(--button-active)
}
