#menu-3d {
    --bar-button-main-color: rgba(0, 0, 0, 0);
	--bar-button-font-color: black;
	--bar-button-border-color: black;
	--bar-button-shadow-color: rgba(0, 0, 0, 30%);
	--bar-button-shadow-height: 12px;

	--bar-button-hover-color: rgba(0, 0, 0, 6%);
	--bar-button-active-color: black;
	--bar-button-active-font-color: var(--main-color);
	--bar-button-active-shadow-height: 5px;

	--bar-button-float: left;
	--bar-button-margin-left: 30px;
    --bar-button-margin-right: 30px;
    
	display: inline-flex;
	position: relative;
	top: 50%;
	width: 60%;
	float: var(--bar-button-float);
	transform: translateY(-50%);
	margin: 0;
	user-select: none;
}


#menu-3d button, #menu-3d a {
	color: var(--bar-button-font-color);
	background-color: var(--bar-button-main-color);
	border: 4px solid var(--bar-button-border-color);
	border-radius: 18px;
	box-shadow: 0 var(--bar-button-shadow-height) var(--bar-button-shadow-color);
	transform: translateY(calc(-1 * (var(--bar-button-shadow-height)/2)));
	padding: 15px 25px;
	font-size: 24px;
	text-align: center;
	cursor: pointer;
	outline: none;
	position: relative;

	margin-left: var(--bar-button-margin-left);
	margin-right: var(--bar-button-margin-right);
}

#menu-3d a {
	text-decoration: none;
}

#menu-3d button:hover, #menu-3d a:hover {
	background-color: var(--bar-button-hover-color);
}

#menu-3d button:active, #menu-3d a:active {
	color: var(--bar-button-active-font-color);
	background-color: var(--bar-button-active-color);
	box-shadow: 0 var(--bar-button-active-shadow-height) var(--bar-button-shadow-color);
	transform: translateY(calc((var(--bar-button-shadow-height)/2) - var(--bar-button-active-shadow-height)));
}
