#top-bar {
	--bar-secondary-bottom-radius: 18px;

	background-color: rgba(0, 0, 0, 0);
	width: 100%;
	height: var(--top-bar-height);

	display: flex;
	flex-direction: column;

	z-index: 1;
}

#top-bar #primary {
	background-color: var(--main-color);
	width: 100%;
	height: var(--top-bar-primary-height);
	box-shadow: 0px var(--bar-main-shadow-height) 5px var(--shadow-color);

	position: relative;
	z-index: 2;
}

#top-bar #primary p {
	position: relative;
	top: 50%;
	width: 40%;
	float: left;
	transform: translateY(-50%);
	margin: 0;
	font-family: 'BebasNeueRegular';
	font-size: 65px;
	user-select: none;
	text-align: center;
}

#top-bar #shadow {
	position: absolute;
	top: 0;
	width: 100%;
	height: var(--top-bar-primary-height);
	box-shadow: 0px 8px 5px var(--shadow-color);
	z-index: 1;
}

#top-bar #secondary {

	border-bottom-right-radius: var(--bar-secondary-bottom-radius);
	border-bottom-left-radius: var(--bar-secondary-bottom-radius);
	height: var(--top-bar-secondary-height);
	margin: 0 auto;
	background-color: var(--secondary-color);
	box-shadow: 0px var(--bar-main-shadow-height) 5px var(--shadow-color);
	z-index: 1;
}
